/* CSS Demo Stylesheet */

/*  ---------------Box Sizing-----------------  */

html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
/*  ---------------utility classes----------------  */

.container{
    width: 80vw;
    max-width: 960px;
    margin: 40px auto;
}

.img-right{
float:right;
border:1px solid #c0c0c0;
padding:5px;
margin:10px 0 10px 20px;
max-width: 20vw;
}

.img-left{
    float: left;
    border:1px solid #c0c0c0;
    padding:5px;
    margin: 10px 20px  10px 0;
    max-width: 30vw;


}

.img-center{
    display:block;
    margin:10px auto;
    border: 1px solid #c0c0c0;
    padding:5px 
}
/*----------------------responsive images-----------*/

img{
    max-width:100%;
}

body {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    margin:0;
}

main{
    
}

header.primary{
    background:#3b638b;
    color:#ffffff;
    text-align: center;
    text-shadow:1px 1px #000 ;
    padding: 20px 40px 20px 40px;
    
}

header.primary h1{
    font-size: 2.4rem;
    margin: 20px 0 0;
}

header.primary h1 a{
    color:#ffffff;
    text-decoration:none;
}

header.primary h2{
    font-size: 1.3rem;
    margin: 0;
    letter-spacing: .2px
}

nav.primary{}   

nav.primary ul{
    
    padding:0;
    display:flex;
    flex-direction:row ;
    justify-content: space-around;
    max-width: 960px;
    margin:20px auto;
}
nav.primary ul li{
    list-style-type:none;
}
nav.primary ul li a {
    color:white;
    font-size: .9rem;
    text-decoration: none;
    border: 1px solid #c0c0c0;
    padding: 7.5px 10px;
    background-color: black;
    background-color: rgba(0,0,0,.4);
    border-radius:  15px;
    transition: .4s;
}
nav.primary ul li a:hover{
    background-color:rgba(0,0,0,.8); 
}

#content{}

#content h2{
    color: #3b638b;
    border-bottom: 1px dotted darkgrey;
}

#content h3{
   border-left: 7.5px solid #3b638b;
 padding: 5px 0 5px 10px;
}

#blog{
    display:flex;
    flex-direction:row;
    justify-content: center;
    gap: 30px;
    border-top:1px solid #cccccc;
    border-bottom:1px solid #cccccc;
    padding:40px 0;
}

#blog article.post{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    padding:10px;
    font-size:.8rem;
    border-radius:4px;
    transition: .4s;
}

#blog article.post:hover{
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);

}

figure{
    margin:0;
}

figcaption, time {
    text-transform:uppercase;
    font-size: 0.6rem; 
}


 #blog article.post a{
    color: #3b638b;
 }

aside[role="complementary"]{
    background-color: #172635;
    color: #ffffff;
    padding:40px 0;

}

aside .container{
    display:flex;
    flex-direction: row;
    gap:40px; 
}

aside .container a:last-child{
    color:#ffffff;

}
aside .container a:last-child{
    display:block;
    text-align: right ;
}

aside article footer{
    display:none;
}

practice h2{
    color:#3b638b
    border-bottom 1px dotted #cccccc;
}

#practice a{
   color:#3b638b;
   transition:.5s;


}
#practice a:hover{
    text-decoration:none;
}














@media screen and (max-width:440px){
   nav.primary ul{
    flex-direction: column;
    gap:10px;
    max-width: 200px;
    margin:20px auto;
   } 
}

nav.primary ul li a{
    display:block;
}

table{
    width: 100%;
    border: 1px solid #c3c3c3;
    border-collapse: collapse;
}

caption{
    font-weight:bold;
    margin: 10px;
    font: size 1.3rem;
}

tr:nth-child(even){
    background-color: rgb(0,0,0,0.1);
}

td:nth-child(n+2){
    text-align:right;
     
}

tr:hover{
    background-color: rgba(0,0,0,0.4);
}
th{
    background-color: #172635;
    color:#ffffff;
    padding:7.5px;
}

td{
    border: 1px solid #c3c3c3;
    padding:5px;
}
